<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.batman.baselibrary">

    <!--这个权限用于调用相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--这个权限用于8.0安装apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!--这个权限用于8.0 start 前台service-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <activity
            android:name=".camera.QrCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

        </activity>
    </application>
</manifest>
